src/assets/state-machines/simple-task-machine.json
{
  "Comment": "Simple task state machine",
  "StartAt": "FirstState",
  "States": {
    "FirstState": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "module:testModuleOne",
      "ResourceConfig": {
        "helpfulAttribute": "You might include some inputs for testModule here"
      },
      "Next": "SecondState"
    },
    "SecondState": {
      "Type": "Task",
      "InputPath": "$.sourceDir",
      "Resource": "module:testModuleTwo",
      "Next": "ThirdState"
    },
    "ThirdState": {
      "Type": "Task",
      "InputPath": "$.sourceDir",
      "Resource": "module:testModuleThree",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
